<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    {{#if global}}
      <link rel="stylesheet" href="/static/global.css" />
    {{/if}}
    {{#if file}}
      <link rel="stylesheet" href="/static/{{file}}.css" />
    {{/if}}
    {{#if stylesheet}}
      <link rel="stylesheet" href="/bundle?bundle={{stylesheet}}&type=css" />
    {{/if}}
    <title>{{title}}</title>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
